@page "/counter"
@rendermode InteractiveServer
@inject IMessageService _message
@inject INotificationService _notice
@inject IClassService ClassService
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<Select DataSource="@_classes"
        @bind-Value="@_selectedValue"
        TItemValue="ClassSelection"
        TItem="ClassSelection"
        LabelInValue="true"
        LabelName="@nameof(ClassSelection.ClassName)"
        OnSelectedItemChanged="@(item => OnChange(item))"
        Style="width: 120px;">
</Select>
<br />
<br />
<p>
    Selected Value: @_selectedValue <br />
    Selected Item: @_selectedItem
</p>

@code
{
    List<ClassSelection> _classes;
    protected override async Task OnInitializedAsync()
    {
        var classReply = await ClassService.GetClassSelectionAsync();
        if (classReply.IsSuccess)
        {
            _classes = classReply.Value;
        }
    }

    public void OnChange(ClassSelection classSelection)
    {
        Console.WriteLine(classSelection.ClassId);
    }
    ClassSelection _selectedValue;
    ClassSelection _selectedItem;
}